/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*  */
@media (max-width: 600px) {
  /* Background */
  #pageOne {
    background-image: url(../images/neonMetroStation.jpg);
    height: 812px;
  }
  #bgPageOne {
    background-color: rgba(0, 0, 0, 0.8);
    height: 812px;
  }
  #profile,
  #profileInfo,
  #profileLinks,
  #moreButton {
    margin: 0px auto;
    text-align: center;
  }
  /* Profile */
  #profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    background-color: #000;
    object-fit: cover;
    margin-top: 45px;
    justify-content: center;
  }
  #profileInfo {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
  }
  .profileName {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
  }
  .profileDescription {
    font-size: 15px;
    font-weight: 300;
    color: #f54242;
  }
  /* Links */
  #profileLinks {
    width: 300px;
    height: 400px;
    margin: 0px auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
  }
  #listLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }
  .links button {
    font-weight: 100;
    border-radius: 8px;
    color: #f54242;
    border-color: #f54242;
  }
  .links button:active {
    background-color: rgb(10, 10, 10, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .links button:hover {
    background-color: rgb(10, 10, 10, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .btnLinks {
    width: 250px;
    height: 55px;
    margin: 10px auto;
    text-align: center;
  }
  .btnLinks p {
    color: #ffffff;
  }
  /* Footer */
  .footer {
    width: 100%;
    padding: 1px;
    background-color: rgb(0, 0, 0);
  }
  .footer p {
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
  }
  /*  */
}
@media (min-width: 600px) and (max-width: 815px) {
  /* Background */
  #pageOne {
    background-image: url(../images/neonMetroStation.jpg);
    height: 1024px;
  }
  #bgPageOne {
    background-color: rgba(0, 0, 0, 0.8);
    height: 1024px;
  }
  /* Profile */
  #profile,
  #profileInfo,
  #profileLinks,
  #moreButton {
    margin: 0px auto;
    text-align: center;
  }
  #profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    background-color: #000;
    object-fit: cover;
    margin-top: 45px;
    justify-content: center;
  }
  #profileInfo {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
  }
  .profileName {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
  }
  .profileDescription {
    font-size: 20px;
    font-weight: 300;
    color: #f54242;
  }
  /* Links */
  #profileLinks {
    width: 400px;
    height: 400px;
    margin: 0px auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
  }
  #listLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }
  .links button {
    font-weight: 100;
    color: #f54242;
    border-color: #f54242;
    border-radius: 8px;
  }
  .links button:active {
    background-color: rgb(10, 10, 10, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .links button:hover {
    background-color: rgb(10, 10, 10, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .btnLinks {
    width: 350px;
    height: 65px;
    margin: 10px auto;
    text-align: center;
  }
  .btnLinks p {
    color: #ffffff;
  }
  /* Footer */
  .footer {
    width: 100%;
    padding: 1px;
    background-color: rgb(0, 0, 0);
  }
  .footer p {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
  }
  /*  */
}
@media (min-width: 820px) and (max-width: 1030px) {
  /* Background */
  #pageOne {
    background-image: url(../images/neonMetroStation.jpg);
    height: 1366px;
  }
  #bgPageOne {
    background-color: rgba(0, 0, 0, 0.8);
    height: 1366px;
  }
  /* Profile */
  #profile,
  #profileInfo,
  #profileLinks,
  #moreButton {
    margin: 0px auto;
    text-align: center;
  }
  #profile img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    background-color: #000;
    object-fit: cover;
    margin-top: 45px;
    justify-content: center;
  }
  #profileInfo {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
  }
  .profileName {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
  }
  .profileDescription {
    font-size: 25px;
    font-weight: 300;
    color: #f54242;
  }
  /* Links */
  #profileLinks {
    width: 500px;
    height: 400px;
    margin: 0px auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
  }
  #listLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }
  .links button {
    font-weight: 100;
    color: #f54242;
    border-color: #f54242;
    border-radius: 8px;
  }
  .links button:active {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .links button:hover {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .btnLinks {
    width: 450px;
    height: 65px;
    margin: 10px auto;
    text-align: center;
  }
  .btnLinks p {
    color: #ffffff;
  }
  /* Footer */
  .footer {
    width: 100%;
    padding: 1px;
    background-color: rgb(0, 0, 0);
  }
  .footer p {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
  }
  /*  */
}
@media (min-width: 1080px) and (max-width: 1370px) {
  /* Background */
  #pageOne {
    background-image: url(../images/neonMetroStation.jpg);
    height: 1024px;
  }
  #bgPageOne {
    background-color: rgba(0, 0, 0, 0.8);
    height: 1024px;
  }
  /* Profile */
  #profile,
  #profileInfo,
  #profileLinks,
  #moreButton {
    margin: 0px auto;
    text-align: center;
  }
  #profile img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    background-color: #000;
    object-fit: cover;
    margin-top: 45px;
    justify-content: center;
  }
  #profileInfo {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
  }
  .profileName {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
  }
  .profileDescription {
    font-size: 25px;
    font-weight: 300;
    color: #f54242;
  }
  /* Links */
  #profileLinks {
    width: 500px;
    height: 400px;
    margin: 0px auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
  }
  #listLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }
  .links button {
    font-weight: 100;
    color: #f54242;
    border-color: #f54242;
    border-radius: 8px;
  }
  .links button:active {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .links button:hover {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .btnLinks {
    width: 450px;
    height: 65px;
    margin: 10px auto;
    text-align: center;
  }
  .btnLinks p {
    color: #ffffff;
  }
  /* Footer */
  .footer {
    width: 100%;
    padding: 1px;
    background-color: rgb(0, 0, 0);
  }
  .footer p {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
  }
  /*  */
}
@media (min-width: 1366px) {
  /* Background */
  #pageOne {
    background-image: url(../images/neonMetroStation.jpg);
    height: 700px;
  }
  #bgPageOne {
    background-color: rgba(0, 0, 0, 0.8);
    height: 700px;
  }
  /* Profile */
  #profile,
  #profileInfo,
  #profileLinks,
  #moreButton {
    margin: 0px auto;
    text-align: center;
  }
  #profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffc107;
    background-color: #000;
    object-fit: cover;
    margin-top: 45px;
    justify-content: center;
  }
  #profileInfo {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
  }
  .profileName {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
  }
  .profileDescription {
    font-size: 25px;
    font-weight: 300;
    color: #f54242;
  }
  /* Links */
  #profileLinks {
    width: 500px;
    height: 300px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
  }
  #listLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }
  .links button {
    font-weight: 100;
    color: #f54242;
    border-color: #f54242;
    border-radius: 8px;
  }
  .links button:active {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .links button:hover {
    background-color: rgb(0, 0, 0, 0.5);
    color: #f54242;
    border-color: #f54242;
  }
  .btnLinks {
    width: 300px;
    height: 55px;
    margin: 10px auto;
    text-align: center;
  }
  .btnLinks p {
    color: #ffffff;
  }
  /* Footer */
  .footer {
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
  }
  .footer p {
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
  }
  /*  */
}
/*  */
