/*  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

/*  */
* {
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: "Montserrat", sans-serif; list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar { 
  width: 0; background: none;
}
/*  */
header {
  width: 100vw; height: 100vh;
  display: flex; flex-direction: column; align-items: center;
  position: relative; background: #17191a;
}

#app{
  width: 100vw;
  position: absolute; top: 12vh;
  display: flex; flex-direction: column; align-items: center;
}

#app__profile {
  display: flex; flex-direction: column; align-items: center;
}

#app__profile--image{
  width: 200px; height: 200px; border: 2px solid #ffc107; border-radius: 50%;
  margin: 15px 0; position: relative;
}

#app__profile--image img{
  width: 100%; height: 100%; border-radius: 50%;
  position: absolute; object-fit: cover;
}

#app__profile h1 {
  font-family: "Roboto", sans-serif; font-size: 35px; font-weight: 200; color: #fff;
}

#app__profile p {
  font-size: 20px; font-weight: 300; color: #ef2d56;
}

#app__menu {
  width: 350px; height: 60px; border-radius: 8px; margin: 20px 0 0 0;
  display: flex; justify-content: space-evenly; align-items: center;
  background: white;
}

#app__menu ul {
  display: flex;  
}

#app__menu ul li {
  margin: 0 25px; 
}

#app__menu ul li svg {
  width: 22px;  height: 22px;
  -webkit-transition: all 500ms; color: #808080; 
}

#app__menu ul li svg:hover {
  transition: all 500ms; transform: rotate(720deg) scale(1.5);
  color: #ef2d56;
}

footer {
  width: 100%; height: 8vh;
  display: flex; justify-content: center; align-items: center;
  background: #17191a;
}

footer p {
  font-size: 14px; font-weight: 200; font-style: italic; color: #fff;
}

@media (max-width: 480px) {
  #app__menu {
    width: 300px;
  }
}