/* ExternalStyles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
/* ExternalStyles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar {
  width: 0;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: none;
}
/*  */
header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #17191a;
}
header #profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #profile #profileImage {
  background: no-repeat center/cover url("../images/profile_img.png");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #fdca40;
  margin-bottom: 20px;
}
header #profile h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 300;
  color: #fff;
}
header #profile p {
  font-size: 20px;
  font-weight: 300;
  color: #ef2d56;
}
#Menu {
  width: 350px;
  height: 60px;
  border-radius: 8px;
  margin: 60px 0;
  padding: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#Menu ul li {
  margin: 0 30px;
  padding: 0;
}
#Menu ul li svg {
  width: 22px;
  height: 22px;
  color: #d1d1d3;
  -webkit-transition: all 500ms;
}
#Menu ul li svg:hover {
  color: #ef2d56;
  transition: all 500ms;
  transform: rotate(720deg) scale(1.5);
}
footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17191a;
}
footer p {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
}
@media (max-width: 480px) {
  #Menu {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    margin: 80px 0;
    padding: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Menu ul li {
    margin: 0 20px;
    padding: 0;
  }
}